* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 5rem;
}


html {
    scroll-behavior: smooth;
}

.interest h2 {
    text-align: center;
    font-size: 200%;
}

.interest h3 {
    font-size: 150%;
    margin-top: 2rem;
}

.interest img {
    height: 150px;
    opacity: .7;
    margin: 3rem;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.interest img:hover {
    opacity: 1;
    transform: scale(1.5);
}