* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width:100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

 .header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../Images/background1.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.header ul li {
    font-size: 13px;
    margin-right: 3rem;
}



.header h1 {
    color: white;
    font-size: 400%;
    position: relative;
    top: 20rem;
    display: flex;
    justify-content: center;
    font-weight: 300;
    animation: fadein 1.8s ease-in;
}

.header nav a {
    color: white !important;
}

.header nav a:hover {
    opacity: .8;
}



.header h4 {
    color: rgba(221,221,221);
    position: relative;
    top: 22rem;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    animation: fadeup 1.8s ease-in;
}

/* @keyframes fadeup {
    0% {
        left: 50px;
    }
    100%{
        bottom: -450px;
        
    }
} */

.header nav {
    text-transform: uppercase;
}

.header nav > a {
    font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .header nav div {
        position: absolute;
        top: 60px;
    }
    .header h1 {
        font-size: 300%;
    }
 }

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .header nav div {
        position: absolute;
        top: 60px;
    }
 }

 @media only screen and (min-width: 768px) and (max-width: 991px){ 
    .header nav div {
        position: absolute;
        top: 60px;
    }
  }


/* @keyframes fadein {
    0% {
        top: 0px;
    }
    100%{
        top: 20rem;
    }
}    */


