/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


.section {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../Images/backgroundSection.jpg);
    background-color: #24263B;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.container {
    margin: 0 auto;
    margin-top: 5rem;
    font-family: 'Lato', sans-serif;
}

.about div {
    display: flex;
    justify-content: center;
}

.about h2 {
    text-align: center;
    font-size: 300%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-top: 10rem;
    color: white;
}

.about div img {
    width: 170px;
    height: auto;
    border-radius: 50%;
    margin-top: 1rem;
}

.about p {
    word-spacing: .2rem;
    color: lightslategray;
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    max-width: 650px;
    margin: 30px auto;
    height: 200px;
    color: white;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    background: #24263B;
    height: 100vh;
}


h1 {
    color: white;
}


.about h2 {
    font-size: 200%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* padding-top: 10rem; */
    color: white;   
}

.about p {
    font-size: 130%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 1rem;
    color: white;  
    /* width: 70%; */
    line-height: 3px;
}

.about p:last-child {
    text-align: center;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    /* border-bottom: 5px solid tomato; */
}

.about::after {
    position: absolute;
content: '';
width: 3%;
height: 3px;
bottom: -13rem;
left: 0;
right: 0;
margin: 0 auto;
border-bottom: 4px solid tomato;
}

.hero img {
    height: 500px;
    width: 500px;
    border-radius: 30px;
    margin-right: 9rem;
}
.hero h2 ,h5 {
    font-size: 200%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}
h5 {
    font-size: 19px;
    color: tomato;
}
.hero p {
    font-size: 130%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    /* padding-top: 1rem; */
    color: white;  
    /* width: 70%; */
    /* line-height: 1px; */
}
.hero {
    display: flex;
    justify-content: center;
    width: 95%;
}

.hero .innerDIV {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.hero .innerDIV p {
    line-height: 2rem;
}

.hero .innerDIV .name , .hero .innerDIV .phone {
    font-size: 18px;
}

.content1 {
    display: flex;
    align-items: center;
}